$primary-color: hsl(212, 58%, 55%);
$primary-muted-color: hsl(229, 39%, 12%);
$secondary-color: hsl(49, 49%, 41%);
$secondary-muted-color: hwb(60 38% 60%);
$succes-color: #fa891c;
$danger-color: #f53939;
$text-color: #eee;